   {% extends '::admin_template.html.twig' %}

{% block title %}Graphique:: Prise de rendez-vous et dépôt de dossier en ligne {% endblock %}

{% block style %}
<style type="text/css">
      th,td{
        text-align: center !important;
      }
      </style>
{% endblock %}

{% block body %}

<!-- debut du contenu -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">

            <h2 class="name_structure">Cabinet médical la Grâce</h2>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">

              <div class="">
                   <h4 class="small_tittle up_">Diagrammes </h4>
                   <p class="journne_du_" style="text-align:center !important;">Tous les graphiques</p>
                   <div class="">
                         <!-- debut -->
                    <section id="unseen">
                        <div class="margin_wrapper">

                        </div>
                         <div class="">
                            <div class="pull-right">
                                <a href="" class="btn btn-primary  btn_valid"><i class="fa fa-print"> </i> imprimer </a>
                            </div>
                        </div>

                  </section>

                <!-- fin -->

                   </div>
              </div>


          </div>

          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>


{% endblock %}

{% block scripts %}


    
{% endblock %}

