 {% extends '::admin_template.html.twig' %}

{% block title %}Administration - Périodicité : Prise de rendez-vous et dépôt de dossier en ligne :: Prise de rendez-vous et dépôt de dossier en ligne {% endblock %}

{% block style %}

 <style>
        .menu1 {
          border-bottom:solid 2px #666666 ; 
          padding-top:12px ; 
          padding-bottom:7px
        } 

        .onglet { 
            border:solid 1px #666666 ;
            margin:5px 5px 0px 5px ; 
            padding:7px 3px 7px 3px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;

            border-radius:5px 5px 0px 0px !important;
          } 

          a.onglet { 
            background-color:#666666 ; 
            text-decoration:none;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;
          } 

          .onglet-actif { 
             border-left:solid 2px #666666 ; 
             border-right:solid 2px #666666 ; 
             border-top:solid 2px #666666 ; 
             border-bottom:none !important; 
             margin:5px 5px 0px 5px ; 
             padding:7px 3px 7px 3px ; 
             background-color:white;
             font-weight: bold;
             font-family: 'Montserrat', sans-serif;
             font-size: 1.2em;
             color: #333;
          } 
          .th_resize{
            font-size: 0.9em !important
          }

          th{
            text-align: center;
          }
          </style>

{% endblock %}

{% block body %}

 <!-- debut du contenu -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2 class="name_structure">Cabinet médical la Grâce</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2 class="name_structure">Périodicité</h2>
            </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">


            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">



              <h4 class="small_tittle up_">Périodicité </h4>
                   <p class="journne_du_" style="text-align:center !important;"> </p>

              <div class="menu1"> <!-- début de la boite contenant les onglets -->
                <a href="{{path('dkk_administration_calandrier')}}" class="onglet-actif"> Jours & Heures</a> <!-- onglet ACTIF -->
                   <span class="onglet"> Périodicités </span> <!-- onglet inactif -->
              </div>

            <div class="">

                <section id="unseen">

                                   <div class="margin_wrapper">
                    <h3 class="times_ to_up">Disponibilité hebdomadaire</h3>
                    <div class="hebdo">

                        <form method="post">
                            <div class="form-group">
                                  <input type="checkbox"> <span class="number__">
                                <span class="number__">Touts les
                                <select name="">
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                                jours de la semaine : <br><br>
                                <input type="checkbox"> <span class="number__">
                               Toutes les
                                <select name="">
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                semaines les : <br><br>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span  class="check_box_span">Lundi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Mardi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Mercredi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Jeudi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Vendredi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Samedi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Dimanche</span>
                                </div>
                                <br><br>
                                </span>


                                  <div class="">
                             <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>
                                      <button type="button" class="btn btn-primary btn_valid" data-toggle="modal" data-target="#myModal" title="Périodicité hebdomadaire"> <i class="fa fa-pencil-square-o"></i>
                                          Modifier
</button>

                                    <button type="submit" name="" class="btn btn-danger  btn_valid"> <i class="fa fa-times" aria-hidden="true"> </i> Sortir </button>
                        </div>


                            </div>
                        </form>
                    </div>

                    <!-- debut de la pop up pour modifier la périodicité hebdomadaire -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Modifier la disponibilité hebdomadaire</h5>
      </div>
      <div class="modal-body2 second_modal_body">
          <form method="post" action="">

                            <div class="form-group">
                                <input type="checkbox"> 
                                <span class="number__">Touts les
                                <select name="">
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                                jours de la semaine : <br><br>
                                <input type="checkbox">
                               Toutes les
                                <select name="">
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                semaines les : <br><br>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span  class="check_box_span">Lundi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Mardi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Mercredi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Jeudi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Vendredi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Samedi</span>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="checkbox" class="check_box">
                                    <span class="check_box_span">Dimanche</span>
                                </div>
                                <br><br>
                                </span>





                            </div>

            <div>
              <button type="submit" class="btn btn-success btn_valid"><i class="fa fa-floppy-o"></i> Enregistrer </button>
            </div>
          </form>

      </div>

    </div>
  </div>
</div>
                    <!-- fin de la pop up pour modifier la périodicité hebdomadaire -->


                <!-- -->


                              <div class="  ">
                    <h3 class="times_ ">Disponibilité mensuelle</h3>
                <div class="hebdo">

                    <form method="">
                        <div class="form-group">
                           <input type="checkbox"> <span class="number__"> &nbsp;&nbsp; Le
                            <select name="" class="">
                                <option>1</option><option>2</option><option>3</option><option>4</option>
                                            <option>5</option><option>6</option><option>7</option><option>8</option>
                                            <option>9</option><option>10</option><option>12</option><option>12</option>
                                            <option>13</option><option>14</option><option>15</option><option>16</option>
                                            <option>17</option><option>18</option><option>19</option><option>20</option>
                                            <option>21</option><option>22</option><option>23</option><option>24</option>
                                            <option>25</option><option>26</option><option>27</option><option>28</option>
                                            <option>29</option><option>30</option><option>31</option>
                            </select>
                            &nbsp; de tous les  &nbsp;

                            <select name="" class="">
                                <option>1</option><option>2</option><option>3</option><option>4</option>
                            </select>

                            &nbsp; Mois &nbsp;

                            <br><br>

                            <input type="checkbox"> <span> &nbsp;&nbsp; le   </span>

                            <select name="" class="">
                                <option>Premier</option>
                                <option>Deuxième</option>
                                <option>Troisième</option>
                                <option>Quatrième</option>
                            </select>

                            <select name="" class="">
                                <option>Lundi</option>
                                <option>Mardi</option>
                                <option>Mercredi</option>
                                <option>Jeudi</option>
                                <option>Vendredi</option>
                                <option>Samedi</option>
                                <option>Dimanche</option>
                            </select>

                            &nbsp; de tous les &nbsp;

                            <select name="" class="">
                                  <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>12</option>
                            </select>

                            &nbsp; mois &nbsp;

                            </span>

                            <br><br>
                             <div class="">
                             <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>
                                 <button type="button" class="btn btn-primary btn_valid" data-toggle="modal" data-target="#myModal1" title="Modifier la périodicité mensuelle"> <i class="fa fa-pencil-square-o"></i>
                                     Modifier
</button>

                                    <button type="reset" name="" class="btn btn-danger btn_valid"><i class="fa fa-times"> </i> Sortir </button>
                        </div>

                        </div>
                    </form>
                </div>
               </div>

                <!-- debut de la pop up pour modifier la périodicité mensuelle -->
                          <!-- Modal -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h5 class="modal-title" id="myModalLabel">Modifier la disponibilité mensuelle</h5>
                              </div>
                              <div class="modal-body2 second_modal_body">
                                  <form method="post" action="">

                                    <div class="form-group">
                           <input type="checkbox" name=""> <span class="number__"> &nbsp;&nbsp; Le
                            <select name="" class="">
                                <option>1</option><option>2</option><option>3</option><option>4</option>
                                            <option>5</option><option>6</option><option>7</option><option>8</option>
                                            <option>9</option><option>10</option><option>12</option><option>12</option>
                                            <option>13</option><option>14</option><option>15</option><option>16</option>
                                            <option>17</option><option>18</option><option>19</option><option>20</option>
                                            <option>21</option><option>22</option><option>23</option><option>24</option>
                                            <option>25</option><option>26</option><option>27</option><option>28</option>
                                            <option>29</option><option>30</option><option>31</option>
                            </select>
                            &nbsp; de tous les  &nbsp;

                            <select name="" class="">
                                <option>1</option><option>2</option><option>3</option><option>4</option>
                            </select>

                            &nbsp; Mois &nbsp;

                            <br><br>

                            <input type="checkbox"> <span> &nbsp;&nbsp; le   </span>

                            <select name="" class="">
                                <option>Premier</option>
                                <option>Deuxième</option>
                                <option>Troisième</option>
                                <option>Quatrième</option>
                            </select>

                            <select name="" class="">
                                <option>Lundi</option>
                                <option>Mardi</option>
                                <option>Mercredi</option>
                                <option>Jeudi</option>
                                <option>Vendredi</option>
                                <option>Samedi</option>
                                <option>Dimanche</option>
                            </select>

                            &nbsp; de tous les &nbsp;

                            <select name="" class="">
                                  <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>12</option>
                            </select>

                            &nbsp; mois &nbsp;

                            </span>

                                    <div class=" ">
                                      <br>
                                      <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>
                                    </div>
                                  </form>

                              </div>

                            </div>
                          </div>
                        </div>
                <!-- fin  de la pop up pour modifier la périodicité mensuel -->



               </div>

                <!-- -->


                <div class="affiche_periodicite">
                    <h3 class="times_">Disponibilité annuelle</h3>
                <div class="hebdo">
                    <form method="post" action="">
                        <div class="form-group">
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                 <span>Début :</span>

                                    <input type="text" id="datepicker" name="date" class="" style="margin-top:15px !important">
                                         



                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             <span class="number__">Fin après: &nbsp; &nbsp;

                               <select name="" class="">
                                  <option>1</option><option>2</option><option>3</option><option>4</option>
                                            <option>5</option><option>6</option><option>7</option><option>8</option>
                                            <option>9</option><option>10</option><option>12</option>
                            </select>
                               mois &nbsp; </span>
                               <br><br>

                                <div style="display: inline-block;vertical-align: top;">
                                Fin le :</div>

                                  <input type="text" id="datepicker2" name="date" class="">

                          </div>



                            <br>

                        </div>

                        <div class="">
                             <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>
                            <button type="button" class="btn btn-primary btn_valid show_modif"><i class="fa fa-pencil-square-o"></i> Modifier
                          </button>



                                    <button type="submit" name="" class="btn btn-danger btn_valid"> <i class="fa fa-window-close" aria-hidden="true"> </i> Sortir </button>
                        </div>
                    </form>
                </div>
               </div>

                <!-- debut de la popup pour la modification de la périodicité annuelle -->


  <!-- debut code qui s'affiche quand on clique sur le bouton pour modifier la périodicité annuel -->


                <br>
                <div style="display: none !important;" id="show">

                <div class="hebdo">
                  <h3 class="times_">Modification de la disponibilité annuelle</h3>
                    <form method="post" action="">
                        <div class="form-group">
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                 <span>Début :</span>

                                    <input type="text" id="datepicker3" name="date" class="" style="margin-top:15px !important">





                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             <span class="number__">Fin après: &nbsp; &nbsp;

                               <select name="" class="">
                                  <option>1</option><option>2</option><option>3</option><option>4</option>
                                            <option>5</option><option>6</option><option>7</option><option>8</option>
                                            <option>9</option><option>10</option><option>12</option>
                            </select>
                               mois &nbsp; </span>
                               <br><br>

                                <div style="display: inline-block;vertical-align: top;">
                                Fin le :</div>

                                  <input type="text" id="datepicker4" name="date" class="" style="margin-top:15px !important">

                          </div>



                            <br>

                        </div>

                        <div class="">
                             <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>




                                    <button type="submit" name="" class="btn btn-danger btn_valid"> <i class="fa fa-window-close" aria-hidden="true"> </i> Annuler </button>
                        </div>
                    </form>
                </div>
               </div>

                <!-- debut de la popup pour la modification de la périodicité annuelle -->

  <!-- fin code qui s'affiche quand on clique sur le bouton pour modifier la périodicité annuel -->


            <!-- -->






                                     <br><br>
               
                </section>
            </div>




            <!-- end col-4 -->
          </div>



            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>



{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function(){
    $(".show_modif").on('click',function(){
    $("#show").toggle();
    $(".affiche_periodicite").hide();
    });

    $( "#datepicker" ).datepicker();
      $( "#datepicker2" ).datepicker();
      $( "#datepicker3" ).datepicker();
      $( "#datepicker4" ).datepicker();
  });

</script>
{% endblock %}
