 {% extends '::admin_template.html.twig' %}

{% block title %}Paramètre des prestataire  :: Prise de rendez-vous et dépôt de dossier en ligne {% endblock %}

{% block style %}

<style>
        .menu1 { 
          border-bottom:solid 2px #666666 ; 
          padding-top:12px ;  
          padding-bottom:7px
        } 

        .onglet {  
            border:solid 1px #666666 ;  
            margin:5px 5px 0px 5px ;  
            padding:7px 3px 7px 3px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;

            border-radius:5px 5px 0px 0px !important;
          }  

          a.onglet {  
            background-color:#666666 ;  
            text-decoration:none;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;
          }  

          .onglet-actif { 
             border-left:solid 2px #666666 ;  
             border-right:solid 2px #666666 ; 
             border-top:solid 2px #666666 ;  
             border-bottom:none !important; 
             margin:5px 5px 0px 5px ;  
             padding:7px 3px 7px 3px ;  
             background-color:white;
             font-weight: bold;
             font-family: 'Montserrat', sans-serif;
             font-size: 1.2em;
             color: #333;
          }  
        .sky-form{
            box-shadow: none !important;
        }

        a.previous { margin-top: 20px !important; display: none;cursor: pointer;}
        .span {
          display: none;
          color: Red;
        }

        .form-control{
          display: inline-block !important;
          vertical-align: middle !important;
        }

    </style>

{% endblock %}

{% block body %}
 <!-- debut du contenu -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">

            <h2 class="name_structure">Cabinet médical la Grâce</h2>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">
             <h4 class="small_tittle">Prestataire - ressource</h4>

              <div class="menu1"> <!-- début de la boite contenant les onglets -->
                <span class="onglet"> Prestataire  </span> <!-- onglet inactif -->
                <a href="{{path('dkk_administration_ressource')}}" class="onglet-actif"> Ressource </a> <!-- onglet ACTIF -->
              </div>



              <div class="margin_wrapper">
                    <!-- debut -->
              <form method="post" action="" id="signupForm">


          <div >
            <div class=" resize2">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span>Nom du prestataire</span>
                <br>
                <input type="text" placeholder="Nom du prestataire" name="firstname" class="form-control">
                </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span>Prenom du prestataire</span>
                <br>
                <input type="text" placeholder="Prenom du prestataire" name="lastname" class="form-control margin50">
                </div>

            </div>
            <br>

            <div class=" resize2">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span>Téléphone</span>
                <br>
                <input type="text" placeholder="Téléphone" name="phone" class="form-control margin50">
                </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span>E-mail</span>
                <br>
                <input type="password" placeholder="E-mail" name="email" class="form-control margin50">
                </div>

            </div>

            <br>

            <div class=" resize2">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                 <span>Profession </span>
             <br>
             <input type="text" name="profession" placeholder="Ex: Médecin, Plombier" class="form-control margin50">

            </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <span>Couleur du prestataire</span>
              <br>

             <select class="form-control margin50 " name="couleur">
              <option selected disabled>Choisir la couleur</option>
              <option value="">verte</option>
              <option value="">Rouge</option>
              <option value="">Jaune</option>
              <option value="">Rose</option>
              <option value="">Maron</option>
              <option value="">Noire</option>
              <option value="">Voillete</option>
              <option value="">Bleu</option>
             </select>
             </div>

            </div>
            <br>
            
            <div class=" resize2">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                 <span>Photo </span>
                 <input type="file" name="photo" class="form-control margin50">
              </div>
              <div class=" resize2">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
              </div>
            </div>
            </div>
            <div class="row">
            
            </div>
            <div class="">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="avec_compte">
                    <input type="checkbox" name="" class="my_checkbox"> <span> Avec compte</span>
                  </div>
                </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="avec_compte">
                  <input type="checkbox" name="" class="my_checkbox"> <span> Sans compte</span></span>
                </div>
                        </div>
              </div>
            <br>
            </div>

            <br>

        <div class="wrapper_container2">
                    <div>
                      <div class="avec_compte">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <input type="checkbox" name="" class="my_checkbox"> <span> Sms informatif</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <input type="checkbox" name="" class="my_checkbox"> <span> E-mail informatif</span>
                        </div>

                      </div>
                      <br><br><br>
            
            <!-- ------>
            
                        <!-- bleach -->
                <div class="row">
                  <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12"><br>
                    <span class="my_span_">Horaires disponibles</span>
                  <br><br>
                  <input name="choix_cat" class="my_checkbox" id="first_only" type="radio" style="margin-top: 3px !important;display: inline-block;" checked="">
             <span style="margin-left:0% color:black;font-weight:500;">Utiliser les heures d'ouverture de la société.</span>
             <br>
              <input name="choix_cat" class="my_checkbox" id="only" type="radio" style="margin-top: 3px !important;display: inline-block;">
             <span style="margin-left:0% color:black;font-weight:500;">Utiliser un programme spécifique.</span>
             <br><br>
             <div class="container_news_date" style="display: none;">
                                       <!-- debut du tableau -->
                          <table class="table table-bordered table-striped table-condensed">
  <thead>
   <tr style="background-color: #26440d !important;color: #fff !important;">
     <th>Jours</th>
      <th>Heure de début </th>
      <th>Heure de fin </th>
      <th>Interruption</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td class="the_day"><input type="checkbox" id="" name=""> Lundi</td>
                                <td>
                                    <span> Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span> debut :</span>
                                    <select name="" class="select_option form-control">
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" id="" name=""> Mardi</td>
                                <td>
                                    <span> Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span> debut :</span>
                                    <select name="" class="select_option form-control">
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" id="" name=""> Mercredi</td>
                                <td>
                                    <span> Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span> debut :</span>
                                    <select name="" class="select_option form-control" form-control>
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" id="" name=""> Jeudi</td>
                                <td>
                                    <span> Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > debut :</span>
                                    <select name="" class="select_option form-control">
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" id="" name=""> Vendredi</td>
                                <td>
                                    <span > Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > debut :</span>
                                    <select name="" class="select_option form-control">
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" id="" name=""> Samedi</td>
                                <td>
                                    <span > Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > debut :</span>
                                    <select name="" class="select_option form-control">
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
     <td class="the_day"><input type="checkbox" id="" name=""> Dimanche</td>
                                <td>
                                    <span > Début :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > debut :</span>
                                    <select name="" class="select_option form-control">
                                         <option>Sans interruption</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > fin :</span>
                                    <select name="" class="select_option form-control">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>


    </tr>

  </tbody>
</table>
                       <!-- fin du tableau-->

             </div>

                  </div>
                  
                </div>
                       <!-- fin du tableau-->

                    </div>


        <div>

                <div class="pull-right" >




                <button type="submit" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>
Enregistrer</button>



                <button type="reset" class="btn  btn-danger btn_valid"><i class="fa fa-times"></i>
 Annuler</button>

              <br><br>
            </div>


              </form>

                    <!-- -->

                    <table class="table table-bordered table-striped table-condensed">
                              <thead>
                                <tr style="background-color: #26440d !important;color: #fff !important;">
                                <th  style="text-align: center !important;">Nom</th>
                                 <th  style="text-align: center !important;">Prenom</th>
                                  <th  style="text-align: center !important;">Téléphone</th>
                                   <th  style="text-align: center !important;">E-mail</th>
                                  <th  style="text-align: center !important;">Disponibilité </th>
                                     <th  style="text-align: center !important;">Profession</th>
                                     <th  style="text-align: center !important;">couleur</th>
                                      <th  style="text-align: center !important;">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>Toto</td>
                                    <td>Tata</td>
                                    <td>6259814</td>
                                    <td>gmail@gmail.com</td>
                                    <td>

                                       <button type="button" class="btn btn-primary btn_valid" data-toggle="modal" data-target="#myModal" title="">
                                      <i class="fa fa-eye"></i> Voir
                                    </button>

                                      <!-- debut de la fenetre modal -->
                                        <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="modal-title" id="myModalLabel">Feuille de disponibilitée</h5>
                          </div>
                          <div class="modal-body2 body_moal_prestation">


                           <p class="identification">Identification</p>
                           <div id="modal_table">
                                <table  class="table table-bordered table-striped table-condensed my_table_modal">
                                              <thead >
                                                <tr >
                                                <th>Nom : </th>
                                                 <td>Toto</td>
                                                </tr>
                                                <tr>
                                                  <th>Prénom : </th>
                                                  <td>Toto</td>
                                                </tr>

                                                <tr>
                                                  <th>Profession : </th>
                                                  <td>Médecin </td>
                                                </tr>

                                                <tr>
                                                  <th>Téléphone : </th>
                                                  <td>+237 656 656 6569 623</td>
                                                </tr>

                                                <tr>
                                                  <th>E-mail : </th>
                                                  <td>gamil@gmail.com</td>
                                                </tr>
                                              </thead>

                                        </table>
                           </div>


                                        <hr class="ligne_">
                                      <script type="text/javascript">
                            $(function () {
                             
                              });
                          </script>

                                        <p class="identification"> Disponibilité / temps de travail </p>

                                            <div id="modal_table2">
                                              <table  class="table table-bordered table-striped table-condensed">
                                                <thead>
                                                  <tr style="background-color: #26440d !important;color: #fff !important;">
                                                  <th>Jour</th>
                                                   <th>Heure de travail</th>
                                                    <th>Heure creuse</th>
                                                     <th class="dvPassport" style="display: none">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td><input type="checkbox" name="" id="chkPassport"> Lundi</td>
                                                      <td>De 9 h à 18h</td>
                                                      <td>12h à 14h</td>
                                                      <td style="display: none !important;" class="dvPassport"> <a href="modification-prestataire.html" class="btn btn-primary btn_valid"><i class="fa fa-pencil-square-o"></i> Modifier</a>  <a href="supprimer-prestataire.html" class="btn btn-danger btn_valid" onclick="return confirm('Voulez-vous vriment supprimer ?')"> <i class="fa fa-times"></i> Supprimer</a></td>

                                                  </tr>
                                              </tbody>
                                          </table>

                                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                                      <!-- fin de la fenetre modal -->
                                    </td>
                                    <td>.......</td>
                                    <td>.......</td>
                                    <td><a href="{{path('dkk_administration_modification_du_prestataire')}}" class="btn btn-primary btn_valid"><i class="fa fa-pencil-square-o"></i> Modifier</a>  <a href=" " class="btn btn-danger btn_valid" onclick="return confirm('Voulez-vous vriment supprimer ?')"><i class="fa fa-times"></i> Supprimer</a></td>
                                </tr>
                              </tbody>
                            </table>
              </div>

        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>


{% endblock %}

{% block scripts %}

 <script type="text/javascript">
              $(document).ready(function(){
                $("#only").on('click',function(){
                  $(".container_news_date").show();
                });

                $("#first_only").on('click',function(){
                  $(".container_news_date").hide();
                });

                // une autre ligne
                $("#signupForm").validate({
                  rules: {
                    couleur: "required",
                    firstname: {
                      required: true,
                      minlength: 2
                    },
                    profession: {
                      required: true,
                      minlength: 4
                    },
                    lastname: {
                      required: true,
                      minlength: 2
                    },
                    phone: {
                      required: true,
                      number: true,
                      minlength: 9
                    },


                    email: {
                      required: true,
                      email: true
                    }

                  },
                  messages: {
                    firstname: {
                      required: "<span style='color:#dd4f43'>Nom réquis</span>",
                      minlength: "<span style='color:#dd4f43'> 2 caractères minimum</span>"
                    },
                    lastname: {
                      required: "<span style='color:#dd4f43'>Prenom réquis</span>",
                      minlength: "<span style='color:#dd4f43'>2 caractères minimum</span>"
                    },

                    phone: {
                      required: "<span style='color:#dd4f43'>Champs réquis",
                      minlength: "<span style='color:#dd4f43'>9 caractères minimum</span>",
                      number:"<span style='color:#dd4f43'>Numéro invalide</span>"
                    },

                    profession: {
                      required: "<span style='color:#dd4f43'>Champs réquis</span>",
                      minlength: "<span style='color:#dd4f43'>5 caractères minimum</span>",
                    },
                    email:{
                      required: "<span style='color:#dd4f43'>Champ réquis</span>",
                      email: "<span style='color:#dd4f43'>Email invalide</span>",
                    },
                    couleur: "<span style='color:#dd4f43'>La couleur</span>",
                  }
                });


                 $("#chkPassport").click(function () {
                                if ($(this).is(":checked")) {
                                  $(".dvPassport").show();
                                } else {
                                  $(".dvPassport").hide();
                                }
                              });

              });
            </script>


{% endblock%}

