 {% extends '::admin_template.html.twig' %}

{% block title %}Administration - Autorisation :: Prise de rendez-vous et dépôt de dossier en ligne :: Prise de rendez-vous et dépôt de dossier en ligne {% endblock %}

{% block style %}

    <style>
        th{
          font-size: 0.9em !important;
          text-align: center !important;
        }
        .menu1 {  
          border-bottom:solid 2px #666666 ; 
          padding-top:12px ;  
          padding-bottom:7px
        }  

        .onglet {  
            border:solid 1px #666666 ;  
            margin:5px 5px 0px 5px ; 
            padding:7px 3px 7px 3px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;

            border-radius:5px 5px 0px 0px !important;
          }  

          a.onglet {  
            background-color:#666666 ;  
            text-decoration:none;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;
          }  

          .onglet-actif { 
             border-left:solid 2px #666666 ; 
             border-right:solid 2px #666666 ;  
             border-top:solid 2px #666666 ;  
             border-bottom:none !important;  
             margin:5px 5px 0px 5px ; 
             padding:7px 3px 7px 3px ;  
             background-color:white;
             font-weight: bold;
             font-family: 'Montserrat', sans-serif;
             font-size: 1.2em;
             color: #333;
          }
      </style>

{% endblock %}

{% block body %}


   <!-- debut du contenu -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
             <h2 class="name_structure">Cabinet médical la Grâce</h2>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">


            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">



              <h4 class="small_tittle up_">Paramètres spécifiques </h4>
                   <p class="journne_du_" style="text-align:center !important;"> </p>

                   <div class="menu1"> <!-- début de la boite contenant les onglets -->
                    <a href="{{path('dkk_administration_autorisation')}}" class="onglet-actif">  Autorisations</a> <!-- onglet ACTIF -->
                     <span class="onglet">  Restrictions </span> <!-- onglet inactif -->
                   </div>

            <div class="margin_wrapper">

                <section id="unseen">

                        <form method="post" action="">
          <div class="form-group">
            <div class="resize2">
              <br><br>
                <h6 class="option_take">Options des restrictions </h6>
                        <br><br>

                        <div class="">
                            <form method="" action="">
                                <div class="form-group">
                                    <div class="wrapper_suppl">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class="advance_reserv">Temps avant la prestation </span>
                                            <br>
                                            <select name="" class="separate">
                                                <option>10 min</option><option>15 min</option><option>10 min</option>
                                            </select>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                             <span class="advance_reserv">RDV groupe  </span><br>
                                            <select name="" class="separate">
                                                <option>2</option><option>3</option><option>4</option>
                                            </select>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                          <br>
                                            <span class="advance_reserv">Heure limite d'annalation de rdv </span><br>
                                            <select name="" class="separate ">
                                                <option>1 heure</option><option>2 heures</option><option>3 heures</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                          <br>
                                            <span class="advance_reserv">Heure limite de suppression de RDV </span><br>
                                            <select name="" class=" separate">
                                                <option>1 heure</option><option>2 heures</option><option>3 heures</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                          <br>
                                            <span class="advance_reserv">Heure limite modification de rdv </span><br>
                                            <select name="" class=" separate">
                                                <option>1 heure</option><option>2 heures</option><option>3 heures</option>
                                            </select>
                                        </div>

                                        <br><br>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                          <br>
                                            <input type="checkbox" class="check_button"> <span class="list1">Liste d'attente</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                          <br>
                                            <input type="checkbox" class="check_button"> <span class="list1">Blacklist</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                          <br>
                                            <input type="checkbox" class="check_button"> <span class="list1">Compte obligatoire</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                          <br>
                                            <input type="checkbox" class="check_button" > <span class="list1">Historique</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separate">
                                          <br>
                                            <input type="checkbox" class="check_button"> <span class="list1">Personne à charge</span>
                                        </div>

                                        <!-- debut des boutons de soumission -->
                                                <p style="clear:both !important"></p>
                                                <br>
                                               <div class="">

                                                      <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>
                                        <button type="button" class="btn btn-primary btn_valid" data-toggle="modal" data-target="#myModal4" title="Modifier les paramètres spécifiques"><i class="fa fa-pencil-square-o"></i> Modifier </button>

                                                <button type="submit" name="" class="btn btn-danger btn_valid"> <i class="fa fa-window-close" aria-hidden="true"> </i>  Sortir </button>
                                               </div>
                                        <!-- fin des boutons de soumission -->
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- debut de la popup pour la modification des parametres qpécifique -->
                            <!-- Modal -->
                            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h5 class="modal-title" id="myModalLabel">Modifier les paramètres spécifiques </h5>
                                  </div>
                                  <div class="modal-body2 second_modal_body">
                                      <form method="post" action="">
                                                            <div class="form-group">
                                <div class="wrapper_suppl">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <span>Temps avant la prestation </span><br>
                                        <select name="" class="separate">
                                            <option>10 min</option><option>15 min</option><option>10 min</option>
                                        </select>

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                         <span>RDV groupe  </span><br>
                                        <select name="" class="separate">
                                            <option>2</option><option>3</option><option>4</option>
                                        </select>

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <span>Heure limite d'annulation de rdv </span><br>
                                        <select name="" class="separate ">
                                            <option>1 heure</option><option>2 heures</option><option>3 heures</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <span>Heure limite de suppression de RDV </span><br>
                                        <select name="" class=" separate">
                                            <option>1 heure</option><option>2 heures</option><option>3 heures</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <span>Heure limite modification de rdv </span><br>
                                        <select name="" class=" separate">
                                            <option>1 heure</option><option>2 heures</option><option>3 heures</option>
                                        </select>
                                    </div>

                                    <br><br>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                        <input type="checkbox" class="check_button"> <span class="list1">Liste d'attente</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                        <input type="checkbox" class="check_button"> <span class="list1">Blacklist</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                        <input type="checkbox" class="check_button"> <span class="list1">Compte obligatoire</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 separate">
                                        <input type="checkbox" class="check_button" > <span class="list1">Historique</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separate">
                                        <input type="checkbox" class="check_button"> <span class="list1">Personne à charge</span>
                                    </div>

                                        <div class="">
                                          <button type="submit" name="" class="btn btn-success btn_valid"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Enregistrer </button>
                                        </div>
                                      </form>

                                  </div>

                                </div>
                              </div>
                            </div>
                                  </div>
                                </div>
                        <!-- fin de la popup pour la modification des parametres qpécifique -->



            </div>





            </div>



    </form>

                <!-- debut du tableau -->
                    <table class="table table-bordered table-striped table-condensed">
                         <thead>
                          <tr style="background-color: #26440d !important;color: #fff !important;">
                           <th> Tps av. Presta.</th>
                            <th> Rdv groupe</th>
                            <th> H. Limite annu. RDV </th>
                            <th> H. Limite supp. RDV </th>
                            <th> H. Limite modif. RDV </th>
                            <th> Liste attente. </th>
                            <th> Blacklist</th>
                            <th> Cpte Oblig.</th>
                            <th> Histo.</th>
                            <th> Prs à chges</th>

                        </thead>
                        <tbody>
                          <tr>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                            <td>...... </td>
                          </tr>
                      </tbody>
                    </table>
                </section>
            </div>




            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>




{% endblock %}

{% block scripts %}


{% endblock %}


