 {% extends 'connect.html.twig' %}

{% block title %}{{'Besoin d'une demonstration'|trans}} : {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}
  <style>
        .sky-form{
            box-shadow: none !important;
            border:1px solid #fff !important;
        }
             #wrapper > button{
          display: block;
          margin-left: 170px !important;
        }

            body{
      background: url('{{asset("img/t8.png")}}') no-repeat center center;
      background-size: cover !important;
      background-attachment: fixed !important;
    }
    </style>


{% endblock %}

{% block body %}
        <div class="container-fluid">
          <div class="down_containt"></div>
            <div class="container">
                 <div id="wrapper">

                  <div class="wrapper_prise_" style="border-radius: 0px !important;">
                    <div class="">
                          

                        

                       <div class="wrapper_prise_" style="border-radius: 0px !important;">
                        <div class="div_taris_devis">
                            <h2>Dikaki offre un accord de Solutions</h2>
                           <div class="row" style="background:#ffff !important;">
                            <!-- debut -->
                               <br>
                              

                               <p class="item_infos_service">
                 Testez la solution Dikaki pendant 60 jours gratuitement et sans engagement. Si vous souhaitez continuer à utiliser Dikaki à l’issue de la phase d’essai, nous vous proposerons la solution adaptée à votre situation. Il vous suffit de sélectionner la version avec le pack de fonctionnalités qui correspondent le mieux à vos besoins.
                 </p>
                             
                <br>
                <h4 class="text-center"> DIKAKI-rdv; Un système social de prise de rendez-vous  </h4>
              <!-- fin -->
              <br>
                            <a href="{{path('dkk_app_demander_demo')}}" class="btn btn-success btn-sm">Je demande une démo</a>
                            <br>
                           </div>
                      </div>
            </div>
                          
                    </div>
                    
                  </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
   
   
{% endblock %}
