<p>Texte avant le formulaire</p>

<form method="post" action="{{ path('dkk_app_test_affiche') }}">
   <p>
       <label for="pseudo">Votre pseudo</label> : <input type="text" name="pseudo" id="pseudo" />
   </p>
   <input type="submit" value="Envoyer" />
</form>
<p>Texte après le formulaire</p>
